In [1]:
# import pandas
import pandas as pd

# import numpy
import numpy as np

In [2]:
# menggunakan pandas untuk membaca file CSV

fifa21 = pd.read_csv("fifa21 raw data v2.csv")

C:\Users\ASUS.DESKTOP-J8QRDBS\AppData\Local\Temp\ipykernel_6368\40056421.py:3: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa21 = pd.read_csv("fifa21 raw data v2.csv")

1. Memeriksa Data Frame

In [3]:
# untuk memeriksa jumlah rows dan columns

fifa21.shape

(18979, 77)

In [4]:
print('Jumlah Rows =', fifa21.shape[0])
print('jumlah Columns =', fifa21.shape[1])

Jumlah Rows = 18979
jumlah Columns = 77

In [5]:
fifa21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [6]:
# dari info di atas dapat dilihat beberapa Columns memiliki nilia yang hilang,
#yaitu pada column "Loan Date End" dan pada Column "Hits"

In [7]:
# Melihat 5 baris pertama untuk tindakan lebih lanjut

fifa21.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

2. Cleaning Data

'Name', 'LongName', dan 'PlayerUrl'

In [ ]:
# Kita menemukan hal menarik setelah melihat sekilas isi dari 5 baris pertama
# colom "Name", "LongName", dan "PlayerUrl" mengandung informasi mengenai nama pemain dan beberapa karakter non huruf
# Hanya colom "PlayerUrl" yang mengandung informasi mengenai nama lengkap pemain yang di sematkan di Url

In [8]:
# Periksa 5 baris pertama dari kolom "playerUrl"

fifa21['playerUrl'].head()

0    http://sofifa.com/player/158023/lionel-messi/2...
1    http://sofifa.com/player/20801/c-ronaldo-dos-s...
2    http://sofifa.com/player/200389/jan-oblak/210006/
3    http://sofifa.com/player/192985/kevin-de-bruyn...
4    http://sofifa.com/player/190871/neymar-da-silv...
Name: playerUrl, dtype: object

In [ ]:
# Kita kemudian bisa mendapatkan Nama Lengkap pemain dari kolom 'playerUrl' 
# dengan cara menghapus karakter yang tidak diinginkan dari kolom tersebut.

In [9]:
# Step 1 
# (Menghilangkan/menghapus 31 karakter awal dari masing masing nilai pada kolom "playerUrl")

fifa21['playerUrl'] = fifa21['playerUrl'].str.slice(31)
fifa21['playerUrl']

0                      /lionel-messi/210006/
1        c-ronaldo-dos-santos-aveiro/210006/
2                         /jan-oblak/210006/
3                   /kevin-de-bruyne/210006/
4         /neymar-da-silva-santos-jr/210006/
                        ...
18974                        /ao-xia/210006/
18975                     /ben-hough/210006/
18976                /ronan-mckinley/210006/
18977                   /zhenao-wang/210006/
18978                     /xiao-zhou/210006/
Name: playerUrl, Length: 18979, dtype: object

In [10]:
# Step 2
# (menghilangkan karakter "/" di depat data)

fifa21['playerUrl'] = fifa21['playerUrl'].str.lstrip('/')
fifa21['playerUrl']

0                       lionel-messi/210006/
1        c-ronaldo-dos-santos-aveiro/210006/
2                          jan-oblak/210006/
3                    kevin-de-bruyne/210006/
4          neymar-da-silva-santos-jr/210006/
                        ...
18974                         ao-xia/210006/
18975                      ben-hough/210006/
18976                 ronan-mckinley/210006/
18977                    zhenao-wang/210006/
18978                      xiao-zhou/210006/
Name: playerUrl, Length: 18979, dtype: object

In [11]:
# Step 3 

fifa21['playerUrl'] =  fifa21['playerUrl'].str.replace('\d+', '', regex=True)
fifa21['playerUrl']

0                       lionel-messi//
1        c-ronaldo-dos-santos-aveiro//
2                          jan-oblak//
3                    kevin-de-bruyne//
4          neymar-da-silva-santos-jr//
                     ...
18974                         ao-xia//
18975                      ben-hough//
18976                 ronan-mckinley//
18977                    zhenao-wang//
18978                      xiao-zhou//
Name: playerUrl, Length: 18979, dtype: object

In [12]:
# Step 4
# (menghilangkan karakter "/" di belakang setiap data dari kolom "playerUrl")

fifa21['playerUrl'] = fifa21['playerUrl'].str.rstrip('/')
fifa21['playerUrl']

0                       lionel-messi
1        c-ronaldo-dos-santos-aveiro
2                          jan-oblak
3                    kevin-de-bruyne
4          neymar-da-silva-santos-jr
                    ...
18974                         ao-xia
18975                      ben-hough
18976                 ronan-mckinley
18977                    zhenao-wang
18978                      xiao-zhou
Name: playerUrl, Length: 18979, dtype: object

In [13]:
# Step 5
# (Mengubah setiap awal kata dari nilai dalam kolom "playerUrl" menjadi huruf kapital di setiap awal kata)

fifa21['playerUrl'] = fifa21['playerUrl'].str.title()
fifa21['playerUrl']

0                       Lionel-Messi
1        C-Ronaldo-Dos-Santos-Aveiro
2                          Jan-Oblak
3                    Kevin-De-Bruyne
4          Neymar-Da-Silva-Santos-Jr
                    ...
18974                         Ao-Xia
18975                      Ben-Hough
18976                 Ronan-Mckinley
18977                    Zhenao-Wang
18978                      Xiao-Zhou
Name: playerUrl, Length: 18979, dtype: object

In [14]:
# Step 6
# (pisahkan setiap kata yang dibatasi dengan karakter "-")

fifa21['playerUrl'].str.split('-', expand=True)

            0         1       2       3       4     5
0      Lionel     Messi    None    None    None  None
1           C   Ronaldo     Dos  Santos  Aveiro  None
2         Jan     Oblak    None    None    None  None
3       Kevin        De  Bruyne    None    None  None
4      Neymar        Da   Silva  Santos      Jr  None
...       ...       ...     ...     ...     ...   ...
18974      Ao       Xia    None    None    None  None
18975     Ben     Hough    None    None    None  None
18976   Ronan  Mckinley    None    None    None  None
18977  Zhenao      Wang    None    None    None  None
18978    Xiao      Zhou    None    None    None  None

[18979 rows x 6 columns]

In [15]:
# Step 7
# (Menambahkan kolom kedalam dataframe)

fifa21[['name1', 'name2', 'name3', 'name4', 'name5', 'name6']] = fifa21['playerUrl'].str.split('-', expand=True)
fifa21.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,DRI,DEF,PHY,Hits,name1,name2,name3,name4,name5,name6
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel-Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,95,38,65,771,Lionel,Messi,None,None,None,None
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,C-Ronaldo-Dos-Santos-Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,...,89,35,77,562,C,Ronaldo,Dos,Santos,Aveiro,None
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,Jan-Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,90,52,90,150,Jan,Oblak,None,None,None,None
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin-De-Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,...,88,64,78,207,Kevin,De,Bruyne,None,None,None
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar-Da-Silva-Santos-Jr,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,94,36,59,595,Neymar,Da,Silva,Santos,Jr,None

In [16]:
# Step 8
# Menambahkan kolom baru di

fifa21['Full Name'] = fifa21[fifa21.columns[77:]].apply(lambda x: ' '.join(x.dropna().astype(str)), axis = 1)
fifa21.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,DEF,PHY,Hits,name1,name2,name3,name4,name5,name6,Full Name
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel-Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,38,65,771,Lionel,Messi,None,None,None,None,Lionel Messi
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,C-Ronaldo-Dos-Santos-Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,...,35,77,562,C,Ronaldo,Dos,Santos,Aveiro,None,C Ronaldo Dos Santos Aveiro
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,Jan-Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,52,90,150,Jan,Oblak,None,None,None,None,Jan Oblak
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin-De-Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,...,64,78,207,Kevin,De,Bruyne,None,None,None,Kevin De Bruyne
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar-Da-Silva-Santos-Jr,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,36,59,595,Neymar,Da,Silva,Santos,Jr,None,Neymar Da Silva Santos Jr

In [17]:
# Step 9
# (Menghapus kolom yang tidak di perlukan dari dataframe)

drop_cols = ['Name',
             'LongName',
             'photoUrl',
             'playerUrl',
             'name1',
             'name2',
             'name3',
             'name4',
             'name5',
             'name6']

fifa21 = fifa21.drop(drop_cols, axis = 1)
fifa21.head()

,ID,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,...,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Full Name
0,158023,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,...,Low,5 ★,85,92,91,95,38,65,771,Lionel Messi
1,20801,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,83kg,...,Low,5 ★,89,93,81,89,35,77,562,C Ronaldo Dos Santos Aveiro
2,200389,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,87kg,...,Medium,3 ★,87,92,78,90,52,90,150,Jan Oblak
3,192985,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,70kg,...,High,4 ★,76,86,93,88,64,78,207,Kevin De Bruyne
4,190871,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,68kg,...,Medium,5 ★,91,85,86,94,36,59,595,Neymar Da Silva Santos Jr

In [18]:
#periksa datatype
fifa21['Full Name'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Full Name
Non-Null Count  Dtype
--------------  -----
18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [19]:
# PROSES
    # Menghapus 31 karakter pertama dari kolom "playerUrl" dengan menggunkanan str.slice() dan str.rstrip()
    # Angka yang terdapat di belakang pada kolom 'playerUrl' diganti dengan spasi kosong dan menghapus karakter terakhir dengan str.lstrip()
    # setiap awalan pada Nama pada kolom "playerUrl" di ubah menjadi huruf kapital menggunakan str.title()
    # Memisahkan setiap kata yang dibatasi oleh karakte '_' menjadi 6 kolom baru
    # kolom yang baru, digabungkan menjadi satu kolom dan diganti namanya menjadi 'Full Name'.
    # Menghapus Kolom 'Name', 'LongName', 'photoUrl', 'playerUrl', 'name1','name2','name3','name4','name5', dan 'name6'

'Nationality', 'Age', 'Club', '↓OVA', 'POT' and 'BOV'

In [20]:
# Periksa kolom "Nationality", "Age", "Club", "↓OVA", "POT" and "BOV"

fifa21[['Nationality', 'Age', 'Club', '↓OVA', 'POT', 'BOV']].head()

  Nationality  Age                         Club  ↓OVA  POT  BOV
0   Argentina   33         \n\n\n\nFC Barcelona    93   93   93
1    Portugal   35             \n\n\n\nJuventus    92   92   92
2    Slovenia   27      \n\n\n\nAtlético Madrid    91   93   91
3     Belgium   29      \n\n\n\nManchester City    91   91   91
4      Brazil   28  \n\n\n\nParis Saint-Germain    91   91   91

In [ ]:
# "Nationality" dan "Age" Column tidak memiliki data yang hilang
# Column "Club" terdiri dari beberapa karakter yang tidak diinginkan
# pada 3 column terakhir mengandung angka 1-99 dan merupakan peringkat pemain dengan skala 1%-100%
# Sebaiknya mengubah nilai dari 3 column terakhir menjadi persen(%)

In [21]:
# menghapus karakter yang tidak diinginkan pada column 'Club'

fifa21['Club'] = fifa21['Club'].str.lstrip('\n')
fifa21['Club']

0               FC Barcelona
1                   Juventus
2            Atlético Madrid
3            Manchester City
4        Paris Saint-Germain
                ...
18974             Wuhan Zall
18975        Oldham Athletic
18976             Derry City
18977       Dalian YiFang FC
18978       Dalian YiFang FC
Name: Club, Length: 18979, dtype: object

In [22]:
# Mengubah nama column '↓OVA' menjadi 'OVA'

fifa21 = fifa21.rename(columns = {'↓OVA' : 'OVA'})

# Mengubah columns kedalam persen

fifa21[['OVA', 'POT', 'BOV']] = fifa21[['OVA', 'POT', 'BOV']].astype(str) + '%'
fifa21[['OVA', 'POT', 'BOV']]

       OVA  POT  BOV
0      93%  93%  93%
1      92%  92%  92%
2      91%  93%  91%
3      91%  91%  91%
4      91%  91%  91%
...    ...  ...  ...
18974  47%  55%  49%
18975  47%  67%  51%
18976  47%  65%  49%
18977  47%  57%  48%
18978  47%  57%  50%

[18979 rows x 3 columns]

In [23]:
# Cek setiap datatype dari columns

fifa21[['Nationality', 'Age', 'Club', 'OVA', 'POT', 'BOV']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nationality  18979 non-null  object
 1   Age          18979 non-null  int64
 2   Club         18979 non-null  object
 3   OVA          18979 non-null  object
 4   POT          18979 non-null  object
 5   BOV          18979 non-null  object
dtypes: int64(1), object(5)
memory usage: 889.8+ KB

In [24]:
# PROSES
# Semua tipe data dari columns diatas sudah benar
# Karakter dari column 'Club' sudah di hapus
# nama column '↓OVA' adiubah menjadi column 'OVA'
# columns 'OVA', 'POT', 'dan 'BOV' sudah di konversikan menjadi % pada setiap columns

In [25]:
# Periksa column 'Contract'

fifa21['Contract'].unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [ ]:
# dari data yang muncul dapat kita amati 3 bentuk data yang berbeda sepert '2004 ~ 2021', 'June 30, 2021 On Loan' and 'Free'

In [26]:
# Membuat fungsi untuk menukar nilai dari column 'Contract'

def to_status(x):
    if 'On Loan' in x:
        x = 'On Loan'
        return x
    elif '~' in x:
        x = 'Active'
        return x
    elif 'Free' in x:
        x = 'Free'
        return x

fifa21['Contract'] = fifa21['Contract'].apply(to_status).astype('category')
fifa21['Contract'].unique()

['Active', 'On Loan', 'Free']
Categories (3, object): ['Active', 'Free', 'On Loan']

In [27]:
# Mengubah nama column 'contract' menjadi 'Contract Status'

fifa21 = fifa21.rename(columns={'Contract' : 'Contract Status'})
fifa21['Contract Status'].head()

0    Active
1    Active
2    Active
3    Active
4    Active
Name: Contract Status, dtype: category
Categories (3, object): ['Active', 'Free', 'On Loan']

In [ ]:
# PROSES
# Mengubah nilai pada column 'Contract'
# Mengubah nama column 'Contract' menjadi 'Contract Status'

In [28]:
# Memeriksa columns 'Positions' dan 'Best Position'

fifa21[['Positions', 'Best Position']].head()

    Positions Best Position
0  RW, ST, CF            RW
1      ST, LW            ST
2          GK            GK
3     CAM, CM           CAM
4     LW, CAM            LW

In [29]:
# Hapus column 'positions'

fifa21 = fifa21.drop(['Positions'], axis=1)
fifa21.head()

,ID,Nationality,Age,OVA,POT,Club,Contract Status,Height,Weight,Preferred Foot,...,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Full Name
0,158023,Argentina,33,93%,93%,FC Barcelona,Active,170cm,72kg,Left,...,Low,5 ★,85,92,91,95,38,65,771,Lionel Messi
1,20801,Portugal,35,92%,92%,Juventus,Active,187cm,83kg,Right,...,Low,5 ★,89,93,81,89,35,77,562,C Ronaldo Dos Santos Aveiro
2,200389,Slovenia,27,91%,93%,Atlético Madrid,Active,188cm,87kg,Right,...,Medium,3 ★,87,92,78,90,52,90,150,Jan Oblak
3,192985,Belgium,29,91%,91%,Manchester City,Active,181cm,70kg,Right,...,High,4 ★,76,86,93,88,64,78,207,Kevin De Bruyne
4,190871,Brazil,28,91%,91%,Paris Saint-Germain,Active,175cm,68kg,Right,...,Medium,5 ★,91,85,86,94,36,59,595,Neymar Da Silva Santos Jr

In [30]:
# Memeriksa tipe data pada column 'Best Position'

fifa21['Best Position'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 18979 entries, 0 to 18978
Series name: Best Position
Non-Null Count  Dtype
--------------  -----
18979 non-null  object
dtypes: object(1)
memory usage: 148.4+ KB

In [ ]:
# PROSES
    # menghapus column 'Positions' karena mirip dengan column 'Best Position' yang mana column 'Positions' mengandung posisi tambahan.
    # column 'Positions' telah di hapus dari dataframe karena column tersebut sudah ada di dalam column 'Best Position' dan hanya ada 1 posisi utuk 1 pemain

'Height', 'Weight' and 'Preferred Foot'

In [31]:
#Memeriksa columns 'Height','Weight', 'Preferred Foot'

for column in ['Height','Weight', 'Preferred Foot'] :
    values = fifa21[column].unique()
    print(f'{column}-{values}.\n')

Height-['170cm' '187cm' '188cm' '181cm' '175cm' '184cm' '191cm' '178cm' '193cm'
 '185cm' '199cm' '173cm' '168cm' '176cm' '177cm' '183cm' '180cm' '189cm'
 '179cm' '195cm' '172cm' '182cm' '186cm' '192cm' '165cm' '194cm' '167cm'
 '196cm' '163cm' '190cm' '174cm' '169cm' '171cm' '197cm' '200cm' '166cm'
 '6\'2"' '164cm' '198cm' '6\'3"' '6\'5"' '5\'11"' '6\'4"' '6\'1"' '6\'0"'
 '5\'10"' '5\'9"' '5\'6"' '5\'7"' '5\'4"' '201cm' '158cm' '162cm' '161cm'
 '160cm' '203cm' '157cm' '156cm' '202cm' '159cm' '206cm' '155cm'].

Weight-['72kg' '83kg' '87kg' '70kg' '68kg' '80kg' '71kg' '91kg' '73kg' '85kg'
 '92kg' '69kg' '84kg' '96kg' '81kg' '82kg' '75kg' '86kg' '89kg' '74kg'
 '76kg' '64kg' '78kg' '90kg' '66kg' '60kg' '94kg' '79kg' '67kg' '65kg'
 '59kg' '61kg' '93kg' '88kg' '97kg' '77kg' '62kg' '63kg' '95kg' '100kg'
 '58kg' '183lbs' '179lbs' '172lbs' '196lbs' '176lbs' '185lbs' '170lbs'
 '203lbs' '168lbs' '161lbs' '146lbs' '130lbs' '190lbs' '174lbs' '148lbs'
 '165lbs' '159lbs' '192lbs' '181lbs' '139lbs' '154lbs' '157lbs' '163lbs'
 '98kg' '103kg' '99kg' '102kg' '56kg' '101kg' '57kg' '55kg' '104kg'
 '107kg' '110kg' '53kg' '50kg' '54kg' '52kg'].

Preferred Foot-['Left' 'Right'].

In [ ]:
# menggunakan fifa_df.unique() untuk memeriksa kolom 'Height','Weight', 'Preferred Foot'.
# Kolom 'Height' memiliki dua nilai entri data yang berbeda yaitu '178cm' dan '5'10" (cm & inci).
# Kolom 'Weight' memiliki dua nilai entri data yang berbeda, yaitu '75kg' dan '110lbs'.
# Kolom 'Preferred Foot' juga memiliki dua nilai entri data yang berbeda yaitu 'Kiri' dan 'Kanan'.
# Setelah mengidentifikasi hal ini, nilai kolom 'Height' dan 'Weight' harus dalam ukuran tertentu untuk dapat melakukan analisis lebih lanjut, 
# sementara nilai kolom 'Preferred Foot' tidak masalah.

In [32]:
# Membuat fungsi untuk mengubah nilai ke Kg

def all_to_kg(x):
    if 'kg' in x:
        x = x.strip('kg')
        return x
    elif 'lbs' in x:
        x = x.strip('lbs')
        Weight = round((float(x) * 0.45359237), 2)
        return Weight

fifa21['Weight'] = fifa21['Weight'].apply(all_to_kg).astype('int64')
fifa21['Weight'].unique()

array([ 72,  83,  87,  70,  68,  80,  71,  91,  73,  85,  92,  69,  84,
        96,  81,  82,  75,  86,  89,  74,  76,  64,  78,  90,  66,  60,
        94,  79,  67,  65,  59,  61,  93,  88,  97,  77,  62,  63,  95,
       100,  58,  98, 103,  99, 102,  56, 101,  57,  55, 104, 107, 110,
        53,  50,  54,  52], dtype=int64)

In [33]:
# Membuat fungsi untuk mengubah nilai ke cm

def all_to_cm(x):
    if "'" and '"' in x:
        feet, inches = x.split("'")
        total_inches = int(feet) * 12 + int(inches[:-1])
        height_cm = total_inches * 2.54
    elif 'cm' in x:
        height_cm = int(x[:-2])
        total_inches = round(height_cm / 2.54)
    else:
        feet, inches = x.split("'")
        total_inches = int(feet) * 12 + int(inches[:-1])
        height_cm = total_inches * 2.54
    return round(height_cm, 2)

fifa21['Height'] = fifa21['Height'].apply(all_to_cm).astype('int64')
fifa21['Height'].unique()

array([170, 187, 188, 181, 175, 184, 191, 178, 193, 185, 199, 173, 168,
       176, 177, 183, 180, 189, 179, 195, 172, 182, 186, 192, 165, 194,
       167, 196, 163, 190, 174, 169, 171, 197, 200, 166, 164, 198, 162,
       201, 158, 161, 160, 203, 157, 156, 202, 159, 206, 155], dtype=int64)

In [34]:
# Ubah nama kolom 'Height' dan 'Weight' dengan menambahkan akhiran 'cm & kg'

fifa21 = fifa21.rename(columns = {'Height' : 'Height (cm)', 'Weight' : 'Weight (kg)'})
fifa21[['Height (cm)', 'Weight (kg)']].head(2)

   Height (cm)  Weight (kg)
0          170           72
1          187           83

In [35]:
# Memeriksa columns 'Height (cm)','Weight (kg)', dan 'Preferred Foot'

fifa21[['Height (cm)', 'Weight (kg)', 'Preferred Foot']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height (cm)     18979 non-null  int64
 1   Weight (kg)     18979 non-null  int64
 2   Preferred Foot  18979 non-null  object
dtypes: int64(2), object(1)
memory usage: 444.9+ KB

In [36]:
# PROSES
    # Membuat fungsi untuk menghapus 'kg dan lbs' di kolom 'Berat' dan mengonversi semua 'lbs' menjadi 'kg' dengan mengalikannya dengan (0,45359237) per kg dan juga mengubah tipe data menjadi int64.
    # Fungsi lain juga didefinisikan untuk membagi, menghapus dan mengubah 'cm dan kaki & inci' menjadi 'cm' dan mengubah tipe data menjadi int64.
    # Column 'Height' dan 'Weight' diubah namanya menjadi 'Height (cm)' dan 'Weight (kg)'
    # Column 'Kaki yang disukai' sudah cukup baik dan tidak disentuh.

'Joined' and 'Loan Date End'

In [37]:
# Memeriksa Columns

fifa21[['Joined', 'Loan Date End']].sample(5)

             Joined Loan Date End
14003   Jan 1, 2019  Dec 31, 2020
4097   Jan 31, 2020           NaN
13719   Aug 1, 2018           NaN
12432   Jan 1, 2018           NaN
18756   Sep 1, 2020           NaN

In [38]:
# Step 1

fifa21[['Joined', 'Loan Date End']].isnull().sum()

Joined               0
Loan Date End    17966
dtype: int64

In [39]:
# Step 2

fifa21 = fifa21.fillna(value = {'Loan Date End' : 'Null'})
fifa21['Loan Date End'].sample(5)

3701     Null
11957    Null
8976     Null
11696    Null
18028    Null
Name: Loan Date End, dtype: object

In [40]:
# Step 3

fifa21['Joined'] = pd.to_datetime(fifa21['Joined'])
fifa21['Joined'].head()

0   2004-07-01
1   2018-07-10
2   2014-07-16
3   2015-08-30
4   2017-08-03
Name: Joined, dtype: datetime64[ns]

In [41]:
# Memeriksa tipe data

fifa21[['Joined', 'Loan Date End']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Joined         18979 non-null  datetime64[ns]
 1   Loan Date End  18979 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 296.7+ KB

In [ ]:
# PROSES
    # Kolom 'Joined' dan 'Loan Date End' diperiksa untuk melihat apakah ada masalah dalam bentuk datanya.
    # Kolom 'Joined' tidak memiliki masalah.
    # Kolom 'Loan Date End' memiliki 17966 baris kosong dari 18979 baris. Hal ini dipahami sebagai jumlah total pemain yang berstatus 'On Loan' untuk baris entri yang tidak kosong.
    # Baris kosong 'Loan Date End' diisi dengan 'Null'.
    # Tipe data kolom 'Bergabung' adalah object dan diubah menjadi tipe data datetime. Sedangkan kolom 'Loan Date End' adalah object karena memiliki nilai 'Null' pada beberapa entri barisnya.

'Value, 'Wage', 'Release Clause' dan 'Hits'

In [42]:
# Memeriksa columns 'Value, 'Wage', 'Release Clause' dan 'Hits'

for column in fifa21[['Value', 'Wage', 'Release Clause', 'Hits']] :
    values = fifa21[column].unique()
    print(f'{column}-{values}.\n')

Value-['€103.5M' '€63M' '€120M' '€129M' '€132M' '€111M' '€120.5M' '€102M'
 '€185.5M' '€110M' '€113M' '€90.5M' '€82M' '€17.5M' '€83.5M' '€33.5M'
 '€114.5M' '€78M' '€103M' '€109M' '€92M' '€10M' '€76.5M' '€89.5M' '€87.5M'
 '€79.5M' '€124M' '€114M' '€95M' '€92.5M' '€105.5M' '€88.5M' '€85M'
 '€81.5M' '€26M' '€21M' '€56M' '€67.5M' '€53M' '€36.5M' '€51M' '€65.5M'
 '€46.5M' '€61.5M' '€72.5M' '€77.5M' '€43.5M' '€32.5M' '€36M' '€32M'
 '€54M' '€49.5M' '€57M' '€66.5M' '€74.5M' '€71.5M' '€121M' '€99M' '€67M'
 '€86.5M' '€93.5M' '€70M' '€62M' '€66M' '€58M' '€44M' '€81M' '€37M'
 '€14.5M' '€46M' '€47.5M' '€52.5M' '€54.5M' '€34.5M' '€57.5M' '€51.5M'
 '€44.5M' '€55M' '€48M' '€60.5M' '€63.5M' '€61M' '€29M' '€58.5M' '€55.5M'
 '€42M' '€40.5M' '€43M' '€45.5M' '€34M' '€26.5M' '€42.5M' '€35.5M' '€45M'
 '€41.5M' '€40M' '€11M' '€13.5M' '€29.5M' '€27M' '€15.5M' '€38.5M' '€52M'
 '€33M' '€19M' '€73.5M' '€38M' '€35M' '€47M' '€24M' '€30.5M' '€18M' '€28M'
 '€25.5M' '€25M' '€31M' '€23.5M' '€30M' '€31.5M' '€22.5M' '€28.5M' '€4M'
 '€12.5M' '€37.5M' '€27.5M' '€16M' '€15M' '€20.5M' '€22M' '€3.4M' '€5M'
 '€56.5M' '€62.5M' '€0' '€39M' '€24.5M' '€21.5M' '€13M' '€8M' '€20M'
 '€8.5M' '€2.9M' '€9M' '€4.6M' '€50M' '€23M' '€18.5M' '€7M' '€19.5M'
 '€5.5M' '€7.5M' '€3.8M' '€14M' '€10.5M' '€16.5M' '€3.6M' '€9.5M' '€39.5M'
 '€17M' '€12M' '€11.5M' '€4.9M' '€3M' '€1.9M' '€6.5M' '€1.7M' '€2.4M'
 '€3.1M' '€6M' '€3.7M' '€4.7M' '€4.3M' '€2.1M' '€1.2M' '€1.8M' '€4.8M'
 '€3.2M' '€1.3M' '€825K' '€2.3M' '€1.5M' '€3.9M' '€2.6M' '€3.5M' '€2.8M'
 '€2.7M' '€4.4M' '€4.1M' '€950K' '€1.6M' '€625K' '€1.1M' '€4.5M' '€4.2M'
 '€2.2M' '€3.3M' '€1.4M' '€2M' '€475K' '€925K' '€750K' '€725K' '€2.5M'
 '€1M' '€350K' '€525K' '€600K' '€850K' '€800K' '€550K' '€250K' '€400K'
 '€425K' '€575K' '€210K' '€325K' '€900K' '€875K' '€650K' '€700K' '€500K'
 '€975K' '€375K' '€775K' '€275K' '€180K' '€450K' '€675K' '€150K' '€240K'
 '€300K' '€130K' '€220K' '€200K' '€110K' '€170K' '€230K' '€90K' '€120K'
 '€80K' '€190K' '€140K' '€160K' '€100K' '€60K' '€50K' '€70K' '€45K' '€35K'
 '€40K' '€25K' '€20K' '€15K' '€30K' '€9K'].

Wage-['€560K' '€220K' '€125K' '€370K' '€270K' '€240K' '€250K' '€160K' '€260K'
 '€210K' '€310K' '€130K' '€350K' '€300K' '€190K' '€145K' '€195K' '€100K'
 '€140K' '€290K' '€82K' '€110K' '€230K' '€155K' '€200K' '€165K' '€95K'
 '€170K' '€105K' '€115K' '€150K' '€135K' '€55K' '€58K' '€81K' '€34K'
 '€120K' '€59K' '€90K' '€65K' '€56K' '€71K' '€18K' '€75K' '€47K' '€20K'
 '€84K' '€86K' '€74K' '€78K' '€27K' '€68K' '€85K' '€25K' '€46K' '€83K'
 '€54K' '€79K' '€175K' '€43K' '€49K' '€45K' '€38K' '€41K' '€39K' '€23K'
 '€51K' '€50K' '€87K' '€30K' '€14K' '€69K' '€31K' '€64K' '€53K' '€35K'
 '€21K' '€28K' '€17K' '€33K' '€70K' '€32K' '€89K' '€26K' '€40K' '€76K'
 '€72K' '€48K' '€36K' '€29K' '€60K' '€16K' '€37K' '€24K' '€52K' '€0'
 '€62K' '€73K' '€63K' '€19K' '€1K' '€66K' '€80K' '€12K' '€2K' '€42K'
 '€13K' '€900' '€57K' '€77K' '€61K' '€22K' '€67K' '€44K' '€15K' '€11K'
 '€8K' '€850' '€10K' '€88K' '€500' '€7K' '€6K' '€9K' '€5K' '€700' '€950'
 '€750' '€3K' '€650' '€600' '€4K' '€800' '€550'].

Release Clause-['€138.4M' '€75.9M' '€159.4M' ... '€59K' '€35K' '€64K'].

Hits-['771' '562' '150' '207' '595' '248' '246' '120' '1.6K' '130' '321' '189'
 '175' '96' '118' '216' '212' '154' '205' '202' '339' '408' '103' '332'
 '86' '173' '161' '396' '1.1K' '433' '242' '206' '177' '1.5K' '198' '459'
 '117' '119' '209' '84' '187' '165' '203' '65' '336' '126' '313' '124'
 '145' '538' '182' '101' '45' '377' '99' '194' '403' '414' '593' '374'
 '245' '3.2K' '266' '299' '309' '215' '265' '211' '112' '337' '70' '159'
 '688' '116' '63' '144' '123' '71' '224' '113' '168' '61' '89' '137' '278'
 '75' '148' '176' '197' '264' '214' '247' '402' '440' '1.7K' '2.3K' '171'
 '320' '657' '87' '259' '200' '255' '253' '196' '60' '97' '85' '169' '256'
 '132' '239' '166' '121' '109' '32' '46' '122' '48' '527' '199' '282' '51'
 '1.9K' '642' '155' '323' '288' '497' '509' '79' '49' '270' '511' '80'
 '128' '115' '156' '204' '143' '140' '152' '220' '134' '225' '94' '74'
 '135' '142' '50' '77' '40' '107' '193' '179' '34' '64' '453' '57' '81'
 '28' '78' '133' '43' '425' '88' '42' '36' '233' '376' '210' '444' '100'
 '263' '98' '29' '160' '39' '257' '6' '310' '138' '62' '293' '285' '362'
 '66' '69' '58' '21' '20' '131' '38' '406' '68' '108' '110' '93' '512'
 '443' '306' '352' '422' '585' '346' '178' '841' '76' '394' '72' '172'
 '44' '407' '230' '367' '295' '157' '243' '56' '111' '326' '679' '18' '92'
 '59' '25' '184' '53' '12' '90' '55' '73' '11' '566' '180' '83' '262' '17'
 '26' '31' '280' '359' '213' '297' '387' '480' '381' '677' '486' '8' '244'
 '129' '388' '275' '319' '2K' '52' '91' '421' '153' '27' '41' '222' '35'
 '102' '23' '30' '33' '146' '13' '19' '14' '106' '276' '568' '353' '47'
 '478' '249' '254' '369' '219' '565' '237' '227' '434' '375' '162' '605'
 '654' '3' '7' '9' '104' '114' '186' '446' '756' '22' '139' '500' '67'
 '147' '149' '16' '82' '54' '37' '15' '1.3K' '3K' '952' '5' '749' '541'
 '330' '393' '517' '770' '409' '170' '125' '283' '342' '363' '580' '105'
 '217' '24' '141' '10' '427' '158' '426' '4' '666' '181' '324' '979'
 '1.4K' '302' '751' '298' '411' '944' '2' '947' '292' '349' '621' '1'
 '2.8K' '338' '287' '261' '218' '1.8K' '240' '279' '229' '188' '315' '664'
 '613' '190' '706' '127' '462' '386' '695' '491' '167' '281' '250' '307'
 '95' '231' '174' '680' '633' '221' '348' '602' '183' '653' '195' '164'
 '151' '258' '8.4K' '343' '419' '655' '136' '399' '531' '357' '228' '385'
 '312' '340' '238' '487' '355' '499' '4.3K' '296' '515' '943' '1.2K' '903'
 '335' '191' '594' '267' '617' '516' '504' '331' '652' '410' '550' '473'
 '442' '344' '208' '1K' '2.5K' '273' '485' '826' '192' '405' '941' '477'
 '644' '303' '417' '6K' nan 11.0 2.0 1.0 31.0 3.0 10.0 9.0 17.0 7.0 4.0
 6.0].

In [ ]:
# fifa_df.unique() untuk memeriksa kolom 'Value, 'Wage', 'Release Clause' dan 'Hits'
# Kolom-kolom yang disebutkan di atas memiliki entri data yang berbeda dengan awalan dan akhiran seperti '€' untuk mata uang euro, 'K' untuk ribuan, 'M' untuk jutaan.
# Kolom 'Hits' juga memiliki masalah entri data seperti akhiran 'K' untuk ribuan serta baris 'nan' yang kosong.

In [43]:
# Step 1

fifa21 = fifa21.fillna(value = {'Hits' : '0'})
fifa21['Hits'].sample(5)

12297    5
8715     3
11216    2
3789     8
9980     2
Name: Hits, dtype: object

In [44]:
# Step 2

for column in fifa21[['Value', 'Wage', 'Release Clause']]:
    fifa21[column] = fifa21[column].str.strip('€')

fifa21[['Value', 'Wage', 'Release Clause', 'Hits']].sample(5)

       Value Wage Release Clause Hits
16214   475K  600           305K    3
9684    900K   3K           1.1M    4
310    24.5M  24K          23.1M   84
2780      7M  20K          12.6M  135
1985    4.6M  30K          11.6M    9

In [45]:
# Step 3

for column in fifa21[['Value', 'Wage', 'Release Clause', 'Hits']]:
    fifa21[column] = fifa21[column].replace({'K':'*1e3', 'M':'*1e6'}, regex = True).map(pd.eval).astype('int64')
    
fifa21[['Value', 'Wage', 'Release Clause', 'Hits']].sample(5)

         Value   Wage  Release Clause  Hits
1596   8000000  28000        15100000    41
17205   350000   6000               0     0
7324   1400000   9000         2100000     1
5134   2700000  15000               0    39
3644   2900000  10000         5600000     7

In [46]:
# Step 4

fifa21 = fifa21.rename(columns = {'Value' : 'Value (€)', 'Wage' : 'Wage (€)', 'Release Clause' : 'Release Clause (€)'})
fifa21[['Value (€)', 'Wage (€)', 'Release Clause (€)']].head(2)

   Value (€)  Wage (€)  Release Clause (€)
0  103500000    560000           138400000
1   63000000    220000            75900000

In [48]:
# Memeriksa data pada columns

fifa21[['Value (€)', 'Wage (€)', 'Release Clause (€)', 'Hits']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Value (€)           18979 non-null  int64
 1   Wage (€)            18979 non-null  int64
 2   Release Clause (€)  18979 non-null  int64
 3   Hits                18979 non-null  int64
dtypes: int64(4)
memory usage: 593.2 KB

Memeriksa Column Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, A/W, D/W, PAC, SHO, PAS, DRI, DEF and lastly PHY.

In [49]:
fifa21[['Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve',
         'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions',
         'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression',
         'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
         'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes',
         'Total Stats', 'Base Stats', 'A/W', 'D/W', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY']].sample(10)

,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,...,Total Stats,Base Stats,A/W,D/W,PAC,SHO,PAS,DRI,DEF,PHY
15993,267,65,57,39,60,46,317,63,67,66,...,1578,331,Medium,Medium,70,54,60,65,33,49
17207,224,54,50,34,47,39,264,63,59,47,...,1404,299,Medium,Low,66,47,49,62,35,40
8198,284,63,54,57,66,44,295,61,61,43,...,1835,387,Medium,High,67,56,63,65,63,73
9508,299,65,62,48,64,60,329,72,67,65,...,1670,362,Medium,Medium,72,65,62,70,31,62
945,363,61,79,73,74,76,323,68,63,55,...,1928,406,Medium,Medium,77,77,67,73,41,71
15958,228,37,37,52,66,36,254,59,36,39,...,1508,330,Medium,Medium,62,42,54,59,55,58
12559,271,56,55,42,66,52,301,59,62,50,...,1699,358,Medium,Medium,64,57,63,64,51,59
14657,282,63,54,45,69,51,285,58,66,39,...,1688,354,Medium,Medium,62,55,64,62,49,62
7674,324,61,69,63,67,64,299,71,65,43,...,1767,374,High,Medium,87,66,62,71,40,48
17824,220,36,46,39,57,42,249,58,48,37,...,1424,296,Medium,Medium,70,46,50,60,31,39

In [51]:
# Memeriksa apakah ada nilai yang hilang dalam setiap columns

fifa21[['Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve',
         'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions',
         'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression',
         'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
         'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes',
         'Total Stats', 'Base Stats', 'A/W', 'D/W', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY']].isnull().sum()

Attacking           0
Crossing            0
Finishing           0
Heading Accuracy    0
Short Passing       0
Volleys             0
Skill               0
Dribbling           0
Curve               0
FK Accuracy         0
Long Passing        0
Ball Control        0
Movement            0
Acceleration        0
Sprint Speed        0
Agility             0
Reactions           0
Balance             0
Power               0
Shot Power          0
Jumping             0
Stamina             0
Strength            0
Long Shots          0
Mentality           0
Aggression          0
Interceptions       0
Positioning         0
Vision              0
Penalties           0
Composure           0
Defending           0
Marking             0
Standing Tackle     0
Sliding Tackle      0
Goalkeeping         0
GK Diving           0
GK Handling         0
GK Kicking          0
GK Positioning      0
GK Reflexes         0
Total Stats         0
Base Stats          0
A/W                 0
D/W                 0
PAC                 0
SHO                 0
PAS                 0
DRI                 0
DEF                 0
PHY                 0
dtype: int64

In [52]:
# Memeriksa tipe column
fifa21[['Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve',
         'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions',
         'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression',
         'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
         'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes',
         'Total Stats', 'Base Stats', 'A/W', 'D/W', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Attacking         18979 non-null  int64
 1   Crossing          18979 non-null  int64
 2   Finishing         18979 non-null  int64
 3   Heading Accuracy  18979 non-null  int64
 4   Short Passing     18979 non-null  int64
 5   Volleys           18979 non-null  int64
 6   Skill             18979 non-null  int64
 7   Dribbling         18979 non-null  int64
 8   Curve             18979 non-null  int64
 9   FK Accuracy       18979 non-null  int64
 10  Long Passing      18979 non-null  int64
 11  Ball Control      18979 non-null  int64
 12  Movement          18979 non-null  int64
 13  Acceleration      18979 non-null  int64
 14  Sprint Speed      18979 non-null  int64
 15  Agility           18979 non-null  int64
 16  Reactions         18979 non-null  int64
 17  Balance           18979 non-null  int64
 18  Power             18979 non-null  int64
 19  Shot Power        18979 non-null  int64
 20  Jumping           18979 non-null  int64
 21  Stamina           18979 non-null  int64
 22  Strength          18979 non-null  int64
 23  Long Shots        18979 non-null  int64
 24  Mentality         18979 non-null  int64
 25  Aggression        18979 non-null  int64
 26  Interceptions     18979 non-null  int64
 27  Positioning       18979 non-null  int64
 28  Vision            18979 non-null  int64
 29  Penalties         18979 non-null  int64
 30  Composure         18979 non-null  int64
 31  Defending         18979 non-null  int64
 32  Marking           18979 non-null  int64
 33  Standing Tackle   18979 non-null  int64
 34  Sliding Tackle    18979 non-null  int64
 35  Goalkeeping       18979 non-null  int64
 36  GK Diving         18979 non-null  int64
 37  GK Handling       18979 non-null  int64
 38  GK Kicking        18979 non-null  int64
 39  GK Positioning    18979 non-null  int64
 40  GK Reflexes       18979 non-null  int64
 41  Total Stats       18979 non-null  int64
 42  Base Stats        18979 non-null  int64
 43  A/W               18979 non-null  object
 44  D/W               18979 non-null  object
 45  PAC               18979 non-null  int64
 46  SHO               18979 non-null  int64
 47  PAS               18979 non-null  int64
 48  DRI               18979 non-null  int64
 49  DEF               18979 non-null  int64
 50  PHY               18979 non-null  int64
dtypes: int64(49), object(2)
memory usage: 7.4+ MB

In [ ]:
# Columns telah diperiksa dan semuanya tidak memiliki baris yang kosong atau masalah ketidakkonsistenan di antara entri data serta tipe data.

In [ ]:
# 'W/F', 'SM' dan 'IR'

In [54]:
# Memeriksa column'W/F', 'SM' dan 'IR'

fifa21[['W/F', 'SM', 'IR']].head()

   W/F  SM   IR
0  4 ★  4★  5 ★
1  4 ★  5★  5 ★
2  3 ★  1★  3 ★
3  5 ★  4★  4 ★
4  5 ★  5★  5 ★

In [55]:
# Menghilangkan simbol

for column in fifa21[['W/F', 'SM', 'IR']]:
    fifa21[column] = fifa21[column].str.rstrip('★').astype('int64')
    
fifa21[['W/F', 'SM', 'IR']].head()

   W/F  SM  IR
0    4   4   5
1    4   5   5
2    3   1   3
3    5   4   4
4    5   5   5

In [56]:
# Memeriksa Columns

fifa21[['W/F', 'SM', 'IR']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W/F     18979 non-null  int64
 1   SM      18979 non-null  int64
 2   IR      18979 non-null  int64
dtypes: int64(3)
memory usage: 444.9 KB

In [ ]:
# PROSES
# Kolom 'W/F', 'SM' dan 'IR' memiliki peringkat nilai pada skala 1-5 yang juga memiliki karakter khusus '★' sebagai akhiran.
# karakter khusus '★' dihapus menggunakan str.rstrip().
# Tipe data kolom diubah menjadi int64 dalam proses penghapusan '★'.

In [57]:
# cek kembali data yang ada

fifa21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 73 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  18979 non-null  int64
 1   Nationality         18979 non-null  object
 2   Age                 18979 non-null  int64
 3   OVA                 18979 non-null  object
 4   POT                 18979 non-null  object
 5   Club                18979 non-null  object
 6   Contract Status     18979 non-null  category
 7   Height (cm)         18979 non-null  int64
 8   Weight (kg)         18979 non-null  int64
 9   Preferred Foot      18979 non-null  object
 10  BOV                 18979 non-null  object
 11  Best Position       18979 non-null  object
 12  Joined              18979 non-null  datetime64[ns]
 13  Loan Date End       18979 non-null  object
 14  Value (€)           18979 non-null  int64
 15  Wage (€)            18979 non-null  int64
 16  Release Clause (€)  18979 non-null  int64
 17  Attacking           18979 non-null  int64
 18  Crossing            18979 non-null  int64
 19  Finishing           18979 non-null  int64
 20  Heading Accuracy    18979 non-null  int64
 21  Short Passing       18979 non-null  int64
 22  Volleys             18979 non-null  int64
 23  Skill               18979 non-null  int64
 24  Dribbling           18979 non-null  int64
 25  Curve               18979 non-null  int64
 26  FK Accuracy         18979 non-null  int64
 27  Long Passing        18979 non-null  int64
 28  Ball Control        18979 non-null  int64
 29  Movement            18979 non-null  int64
 30  Acceleration        18979 non-null  int64
 31  Sprint Speed        18979 non-null  int64
 32  Agility             18979 non-null  int64
 33  Reactions           18979 non-null  int64
 34  Balance             18979 non-null  int64
 35  Power               18979 non-null  int64
 36  Shot Power          18979 non-null  int64
 37  Jumping             18979 non-null  int64
 38  Stamina             18979 non-null  int64
 39  Strength            18979 non-null  int64
 40  Long Shots          18979 non-null  int64
 41  Mentality           18979 non-null  int64
 42  Aggression          18979 non-null  int64
 43  Interceptions       18979 non-null  int64
 44  Positioning         18979 non-null  int64
 45  Vision              18979 non-null  int64
 46  Penalties           18979 non-null  int64
 47  Composure           18979 non-null  int64
 48  Defending           18979 non-null  int64
 49  Marking             18979 non-null  int64
 50  Standing Tackle     18979 non-null  int64
 51  Sliding Tackle      18979 non-null  int64
 52  Goalkeeping         18979 non-null  int64
 53  GK Diving           18979 non-null  int64
 54  GK Handling         18979 non-null  int64
 55  GK Kicking          18979 non-null  int64
 56  GK Positioning      18979 non-null  int64
 57  GK Reflexes         18979 non-null  int64
 58  Total Stats         18979 non-null  int64
 59  Base Stats          18979 non-null  int64
 60  W/F                 18979 non-null  int64
 61  SM                  18979 non-null  int64
 62  A/W                 18979 non-null  object
 63  D/W                 18979 non-null  object
 64  IR                  18979 non-null  int64
 65  PAC                 18979 non-null  int64
 66  SHO                 18979 non-null  int64
 67  PAS                 18979 non-null  int64
 68  DRI                 18979 non-null  int64
 69  DEF                 18979 non-null  int64
 70  PHY                 18979 non-null  int64
 71  Hits                18979 non-null  int64
 72  Full Name           18979 non-null  object
dtypes: category(1), datetime64[ns](1), int64(60), object(11)
memory usage: 10.4+ MB

In [58]:
fifa21.to_csv('fifa21_cleaned_data.csv')